@media screen and (max-width: 650px) {
    .main{
        padding: 0;
    }
    .centro{
        display: block;
    }
    .centro input{
        width: 100%;
        margin: 5px 0;
        height: 40px;
    }
    .produto_nome{
        overflow-y: auto;
    }

    .total, #limpar{
        margin-left: 20px;
    }
}